{% extends "admin/base.html" %}

{% block title %}Followers{% endblock %}

{% block main %}
    <followers-list></followers-list>
{% endblock %}

{% block scripts %}
    <script type="module" src="/assets/js/components/follow-button.js"></script>
    <script type="module" src="/assets/js/components/person-row.js"></script>
    <script type="module" src="/assets/js/components/followers-list.js"></script>
    <script type="module" src="/assets/js/components/search-modal.js"></script>
    <script type="module" src="/assets/js/components/actor-profile-modal.js"></script>
    <script type="module" src="/assets/js/components/profile-card.js"></script>
    <script type="module" src="/assets/js/components/actor-banner.js"></script>
{% endblock %}
