{% extends "admin/base.html" %}

{% block title %}Likes{% endblock %}

{% block main %}
    <likes-list></likes-list>
{% endblock %}

{% block scripts %}
    <script type="module" src="/assets/js/components/status-item.js"></script>
    <script type="module" src="/assets/js/components/follow-button.js"></script>
    <script type="module" src="/assets/js/components/likes-list.js"></script>
    <script type="module" src="/assets/js/components/search-modal.js"></script>
    <script type="module" src="/assets/js/components/actor-profile-modal.js"></script>
    <script type="module" src="/assets/js/components/profile-card.js"></script>
    <script type="module" src="/assets/js/components/actor-banner.js"></script>
    <script type="module" src="/assets/js/components/person-row.js"></script>
{% endblock %}
